* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Ubuntu, sans-serif;

    user-select: none;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #f1b2d7, #3a318c);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    background: linear-gradient(#3a318c, #795da7);
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 40px;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 20px 15px;
        height: 100vh;
        border-radius: 0;
    }
}

.month-year-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.left-controller, .right-controller {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f1b2d7;
    top: 50%;
    transform: translate(0, -50%);
}

.left-controller {
    left: 10px;
}

.right-controller {
    right: 10px;
}

.year {
    margin-left: 10px;
}

.day-names {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    text-align: center;
}

.day-name {
    --size: calc(100% * 1/7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--size);
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

.days {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.days-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.day {
    --size: calc(100% / 7);
    --width: var(--size);
    --height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

@media not all and (hover: none) {
    .day.active:hover {
        background-color: white;
        color: #3a318c;
    }
}

.day.active {
    cursor: pointer;
}

.day.inactive {
    opacity: 15%;
}

.day.holiday {
    color: #f1b2d7;
}

.day.today {
    border: 1px dashed #f1b2d7;
}

.day.in-range {
    background-color: rgba(0, 0, 0, .4);
}

.day.range-end {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
}

.day.range-start {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
}