// Main colors
$white: #ffffff;
$pink-violet-gradient: radial-gradient(circle at center, #f1b2d7, #3a318c);
$light-violet: #795da7;
$violet-gradient: linear-gradient(#3a318c, #795da7);

// Layout
$main-bg: $pink-violet-gradient;