// Main colors
$light-gray: #2e3338;
$white: #ffffff;
$violet: #3a318c;
$light-violet: #795da7;
$pink: #f1b2d7;

// Gradients
$pink-violet-gradient: radial-gradient(circle at center, $pink, $violet);
$violet-gradient: linear-gradient($violet, $light-violet);

// Layout
$main-bg: $pink-violet-gradient;