.day {
  --size: calc(100% / 7);
  --width: var(--size);
  --height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
  font-size: 20px;
  text-transform: uppercase;
  color: $white;
  border-radius: 50%;

  @media not all and (hover: none) {
    &.active:hover {
      background-color: $white;
      color: #3a318c;
    }

    &.active:active {
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.12), inset 5px 5px 5px rgba(0, 0, 0, 0.24);
    }
  }

  &.active {
    cursor: pointer;
  }

  &.inactive {
    opacity: 15%;
  }

  &.holiday {
    color: #f1b2d7;
  }

  &.today {
    border: 1px dashed #f1b2d7;
  }

  &.selected-holiday {
    background-color: rgba($white, 0.25);
  }
}